* {
  margin: 0px;
  padding: 0px;
}
body {
  /* 移除默认列表样式 */
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: basic_font_size;
  font-family: 'Microsoft Yahei', 'Simsun', Arial;
  background-color: #f0eded;
}

body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body a {
  color: #e4e2e4;
  text-decoration: none;
}

body a:hover {
  color: #0693f8;
}
